	<h2>My Cart</h2>
	<div id="cart">
		<% @cart.each do |cart_item| %>
		<div class="cart_item">
			<%= content_tag :span, class: :image do 
				image_tag( cart_item[:item].image.url(:thumb), height: 40 )
			end %>
			<span class="name"><%= cart_item[:item].name %></span>
			<%= number_field_tag :quantity, cart_item[:quantity], min: 0 %>
		</div>
		<% end %>
	</div>