body {
	margin: 0;
}
main {
	margin: 30px;
}
header {
	padding: 5px 30px 5px;
	background-color: #3C3;
	background: linear-gradient(#3C3, #6A6);
	color: #fff;
	font-size: 16px;
}
header .title {
	font-size: 28px;
	font-weight: bold;
	vertical-align: middle;
	font-family: Helvetica;
}
header nav {
	line-height: 40px;
}
header img {
	vertical-align: middle;
}
header nav ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	float: right;
}
header nav li {
	display: inline-block;
	padding: 0 20px;
	vertical-align: middle;
}
header nav li a {
	text-decoration: none;
}